* {
	margin: 0;
	padding: 0;
}
/* Globa reset the * element gets applied to everything */

body{
	border-top : 10px solid #1098ad;
	font-family: sans-serif;
	position: relative;
}

nav{
	font-size: 18px;
}

article{
	margin-bottom: 50px;
}
.main_header {
	background-color: #f7f7f7;
	padding: 20px 40px;
	margin-bottom: 60px;
	/* first one is top and bottom, the next one is left and rigth */
	/* height: 80px; */

}

.post-header{
	margin-bottom: 40px;
}

aside{
	background-color: #f7f7f7;
	border-top: 5px solid #1098ad;
	border-bottom: 5px solid #1098ad;
	padding: 50px 0;
	width: 500px;

}

h1,h2,h3 {
	color : #1098ad;
}

h1 {
	font-size: 26px;
	text-transform: uppercase;
	font-style: italic;
}


h2{
	font-size: 40px;
	margin-bottom: 30px;
	position: relative;
}

h3{
	font-size:30px;
	margin-bottom: 20px;
	margin-top: 40px;
}
h4{
	font-size:20px;
	text-transform: uppercase;
	text-align: center;
}

p{
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 15px;
}

ul,ol{
	margin-left: 50px;
	margin-bottom: 20px;
}

ul a{
	text-decoration: none;
}

li{
	font-size: 20px;
	margin-bottom: 10px;
}

li:last-child{
	margin-bottom: 0;
}

#copyright {
	font-size: 14px;
}

.related_author {
	font-size: 16px;
	font-weight: bold;
	font-style: italic;
}

.related {
	list-style: none;
}



/* These are sudo classes so instead of: 
adding a list and then styling that 
.first_element{
	font-weight: bold;
} 

We do the following : */

/* li:first-child{
	font-weight: bold;
}
li:last-child{
	font-style: italic;
}

li:nth-child(odd){
	color: red;
} */


/* article p:first-child{
	color: red;
}
Does not work because it select a paragraph that is the first element of the article
*/

/* Continuing with coding: */

/*Styling links

Always ... link, hover, visited, active*/

a:link{
	color: #1098ad;
	text-decoration: none;
}

a:visited{
	color: #777;
}
nav a:link{
	margin-right: 30px;
	margin-top: 10px;
	display: inline-block;
	
}
nav a:link:last-child{
	margin-right: 0;
}

h1:hover{
	color: red;
}
a:hover{
	color: orangered;
	font-weight: bold;
	text-decoration: underline orangered;
}

a:active {
	background-color: black;
	font-style: italic;
}

.post-img{
	width: 100%;
	/* Percentage of the parrent container... int this case that is the header element */
	height: 360px;
}

.container{
	width:900px;
	margin: auto;
	/* position: relative; */
	/* First parent element that has position to relative will be the relative element for position:absolute */
}

.like{
	font-size: 22px;
	padding: 20px;
	cursor: pointer;
	position: absolute;
	/* top: 50px;
	left: 50px; */
	bottom: 50px;
	right: 50px;
	
}

/* h2::first-letter{
	margin-right: 2px;
	font-style:normal;
	font-size: 70px;
	We treat this letter as if it was an elementa
} */

/* P::first-line{
	color: red;
} */

/* h3 + p::first-line{
	color: red;
} */
/* This is the ajesont selector, first line after h3 */

h2::after{
	content: "TOP";
	background-color: #ffe70e;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding: 5px 10px;
	position: absolute;
	top: -15px;
	right: -15px;
	
}
/* This is for small detalis that we can add to css instead of html
This is how we use inline box modle, this is an inline element
So in order to give it padding we make it an inline box */
/* We can also set a negative value to move it relatively */

/* footer p{
	font-size: 14px;
} */


/* FLOATS */

.author-img{
	float: left;
	margin-bottom: 20px;
}

.author{
	font-size: 15px;
	font-style: italic;
	float:left;
	margin-top: 10px;
	margin-left: 20px;
	/* float: left; Now it's in the same float as author-img */

}


h1{
	float: left;
}

nav{
	float: right;
}








