*{
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	line-height: 1.4;
}


h1,h2,h3{
	text-transform: uppercase;
}

.title {
	text-align: center;
	background-color: rgb(250, 250, 250)
}

p{
	font-size: 20px;
	 margin-bottom: 10px; 
}

h2{
	position: relative;
	padding-top:15px;
	padding-bottom: 15px;
}

a:link, a:visited {
	color: black;
}

a:hover, a:active{
	text-decoration: none;
}

.price {
	font-size: 30px;
	margin: 0;
}
button {
	padding-top: 5px;
	font-size: 30px;
	background-color:black;
	color: white;
	text-transform: uppercase;
	border-left: none;
	border-right: none;
	border-bottom: none;
	border-top: 5px solid black;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

button:hover {
	color: black;
	background-color: white;
}

ul{
	list-style-type: square;
	font-size: 20px;
}

 .detail{
	text-transform: uppercase;
	font-size: 15px; 
	color: rgba(128, 128, 128, 0.815);
	font-weight: bold;
	padding-bottom: 20px;
	
}

h3{
	margin-bottom: 20px;
	margin-top: 25px;
}
li{
	margin-bottom: 15px;
	margin-left: 25px;
}

.product{
	width: 925px;
	margin: 50px auto;
	border: 5px solid black;
}

h2::before{
	content: "sale";
	font-size: 16px;
	letter-spacing: 4px;
	display: inline-block;
	position: absolute;
	background-color:rgb(219, 16, 16);
	color:rgb(250, 250, 250);
	padding: 8px 18px;
	text-align: center;
	
	top: -23px;
	left: -43px;

}

.color{
	margin-top:40px;
}

#black, #blue, #red, #green, #yellow, #brown{
	height: 30px;
	width: 30px;
	display: inline-block;
	margin-left: 0;
	margin-right: 20px;
	margin-bottom: 0;

}

#black{
	background-color:black;
}
#blue{
	background-color:blue;
}
#red{
	background-color:red;
}
#green{
	background-color: green;
}
#yellow{
	background-color: yellow;
}
#brown{
	background-color: rgb(199, 131, 30);
}